 // Author: Caoimhe Malone (key-vah) 

$green: #a9e20e;

.social-bar {
	color: black;
	padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.membership-option {
	padding: 2em;
	border: 2px black;
    border-style: dotted;
}

//So the scroll has a bit of padding
#memberships, #home, #team, #timetable, #about, #blog {
  width: 100%;
  height: 20px;
}

.rounded-circle {
    background-color: #fff;
    border: 1px solid red;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20%; 
}

.timetable {
	//padding: 3em;
  height: 50em;
}

.schedule {
  width: 50%;
  height: 400%;
  margin-left: 20%;
}

iframe {
  #top-bar {
    display: none !important;
  }
}

.about {
  //margin-top: 55%;
}
.contact-info {
	padding-top: 2em;
}

.contact-listing {
    padding-left: 2em;
    padding-right: 7em;
    padding-top: 2em;
}

.contact-form {
    padding-left: 30%;
}

.submit {
	margin-left: 10%;
}

.blog-image {
    border: 5px solid black;
    //padding: 25px;
    margin: 25px;

    img {
    	width: 100%;
    }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blog, .timetable {
  background-image: url(../images/icon-collage.png);
}

.fixed-image {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

h3 {
  //padding-top: 1.5em;
}


//For diagonal divs
.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.edge--top:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.-berry {
  background: #b52b4a;
}

.block {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  margin: 0 0 200px;
  padding: 20% 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

// input fields

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

/* Madoka */
.input--madoka {
  margin: 1.1em;
  padding-bottom: 2em;
}

.input__field--madoka {
  width: 100%;
  background: transparent;
  color: #7A7593;
}

.input__label--madoka {
  position: absolute;
  width: 100%;
  height: 100%;
  color: $green;
  text-align: left;
  cursor: text;
  padding-top:4em;
}

.input__label-content--madoka {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.graphic--madoka {
  -webkit-transform: scale3d(1, -1, 1);
  transform: scale3d(1, -1, 1);
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
  pointer-events: none;

  stroke: $green;
  stroke-width: 4px;
  stroke-dasharray: 962;
  stroke-dashoffset: 558;
}

.input__field--madoka:focus + .input__label--madoka,
.input--filled .input__label--madoka {
  cursor: default;
  pointer-events: none;
}

.input__field--madoka:focus + .input__label--madoka .graphic--madoka,
.input--filled .graphic--madoka {
  stroke-dashoffset: 0;
}

.input__field--madoka:focus + .input__label--madoka .input__label-content--madoka,
.input--filled .input__label-content--madoka {
  -webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
  transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
}

// For scroll reveal 
.reveal
{
    opacity:0;
}

//Scroll to top
.scrollToTop {
  button {
    background-color: $green;
    position: fixed;
    float:right;
    right: 2%;
    background-image: url(../images/scroll.png); 
    bottom: 1%;
    background-repeat: no-repeat;
    z-index: 1;
    color: #000;
    text-decoration: none;
    border-style: none;
  }

    button:focus {
      outline: 1px  $green;
    }
  

  a {
    color: #000;
  }
  a:hover {
    color: #000;
    text-decoration: none;
  }
}


//Bootstrap overrides
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container {
  h3 {
    font-family: AvenirNextRegular,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 10;
    letter-spacing: 1px;
  }
}


//Media Queries 


@media (min width: 569px) {
  .scrollToTop {
    button {
      bottom: 4%;
      right: 3%;
      padding-right: 3.2%;
    }
  }
  .timetable {
    height: 36em;
  }
}

@media (min-width: 768px) {
  .scrollToTop {
    button {
      bottom: 4%;
      right: 3%;
      padding-right: 1.5%;
    }
  }

}

//Everything under a laptop 
@media (max-width: 991px) {
  .submit {
    padding-top: 2em;
  }
}

 /* ----------- Tablets ----------- */

@media (max-width: 1000px) {
  .schedule {
  height: 300%;
  width: 80%;
}

  .about {
    //padding-top: 20%;
  }

      #memberships, #team, #timetable, #about, #blog {
      height: 66px;
  }
}

@media  (min-width: 992px) {
  .scrollToTop {
    button {
      bottom: 3%;
      right: 3%;
      padding-right: 1.2%;
    }
  }

}

 /* ----------- Laptop & large tablets ----------- */

@media  (min-width: 1024px) {
    #memberships, #team, #timetable, #about, #blog {
      height: 66px;
  }

  }


  /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .scrollToTop {
    button {
      bottom: 5%;
      right: 5%;
      padding-right: 3.75%;
    }
  }

  .timetable {
    height: 36em;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  .scrollToTop {
    button {
      bottom: 4%;
      right: 5%;
      padding-right: 3.3%;
    }
  }

  .timetable {
    height: 35em;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .scrollToTop {
    button {
      padding-right: 3%;
    }
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .scrollToTop {
    button {
      bottom: 4%;
      padding-right: 3.2%;
    }
  }

  .timetable {
    height: 36em;
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- Galaxy S3 ----------- */

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 2) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 2) 
//   and (orientation: portrait) {

// }

// /* Landscape */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 2) 
//   and (orientation: landscape) {

// }

// /* ----------- Galaxy S4, S5 and Note 3 ----------- */

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: portrait) {

// }

// /* Landscape */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: landscape) {

// }

// /* ----------- Galaxy S6 ----------- */

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) 
//   and (orientation: portrait) {

// }

// /* Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) 
//   and (orientation: landscape) {

// }

// /* ----------- Google Pixel ----------- */

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: portrait) {

// }

// /* Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: landscape) {

// }

// /* ----------- Google Pixel XL ----------- */

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) 
//   and (orientation: portrait) {
// }

// /* Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) 
//   and (orientation: landscape) {

// }

